* {
    font-family: 'Roboto', sans-serif;
}

#logo {
    width: 100%;
    height: 100%;
}

#container-1 {
    display: grid;
}

#welle_ganz_oben, #kabel_ganz_oben, #iphone_mit_echarge_logo {
    grid-area: 1 / 1;
}

#welle_ganz_oben > img {
    width: 100%;
    height: 100%;
    margin-top: -6.15%;
}

#kabel_ganz_oben > img {
    float: right;
    margin-top: 10%;
    height: 50%;
    width: 30%;
}

#iphone_mit_echarge_logo > img {
    margin-top: 10%;

    width: 18%;
    margin-left: 12%;
}

#title-text {
    float: right;
    margin-top: 30%;
    margin-right: 5%;
}

#title-text > h1 {
    font-size: 2.5vw
}

#title-text > h2 {
    font-size: 1vw;
    float: right;
    margin-top: -4%;
}

#our_vision_text {
    margin-left: 10%;
    float: left;
    overflow: hidden;
    width: 50%;
}

#tesla_model_x > img {
    height: 40%;
    width: 40%;
    float: left;
    overflow: hidden;
}

#container-2 {
    margin-top: 15%;
}

#plain_our_vision_text {
    float: left;
    overflow: hidden;
    height: 50%;
    width: 75%;
}



#plain_our_vision_text > p {
    font-size: 1vw;
}

#our_vision_header {
    font-size: 3.5vw !important;
}

#electro_div {
    float: left;
    overflow: hidden;
}

#electro_div > img {
    width: 6vw;
    height: 6vw;
    margin-top: 2vw;
}



#container-3 {
    margin-top: 50%;
    display: grid;
}

#grosse_welle, #linie_ueber_grosse_welle, #iphone_iso {
    grid-area: 1 / 1;
}

#iphone_iso > img {
    width: 100%;
    margin-top: 40%;
}

#linie_ueber_grosse_welle > img {
    width: 100%;
}

#grosse_welle > img {
    width: 100%;
}

#container-4 {
    width: 100%;
}

#iphone_mit_homescreen {
    float: left;
    width: 50%;
}

#need_a_charge {
    float: left;
    width: 50%;
}

#iphone_mit_homescreen > img {
    width: 36%;
    height: 36%;
    margin-left: 30%;
}

#need_a_charge_header {
    font-size: 3.5vw;
}

#need_a_charge_text {
    font-size: 1vw;
}

#plain_need_a_charge_text {
    margin-left: 15%;
    margin-right: 20%;
}

#container-4 {
    margin-top: 10%;
    margin-bottom: 55%;
}

#container-5 {
    width: 100%;
    margin-bottom: 50%;
}

#search_by_map_header {
    float: left;
    width: 50%;
}

#search_by_map_header > p {
    font-size: 3.5vw;
    margin-left: 15%;
}

#navigation_icon {
    float: left;
    width: 50%;
    
}

#navigation_icon > img {
    width: 12%;
    padding-top: 5%;
}

#container-6 {
    display: grid;
}

#welle_duenn, #suche_links, #suche_rechts {
    grid-area: 1 / 1;
}

